[submodule "AXE/vendor/spdlog"]
	path = AXE/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "AXE/vendor/GLFW"]
	path = AXE/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "AXE/vendor/imgui"]
	path = AXE/vendor/imgui
	url = https://github.com/TheCherno/Imgui
[submodule "src/vendor/spdlog"]
	path = src/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "src/vendor/fmt"]
	path = src/vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "src/vendor/geogram"]
	path = src/vendor/geogram
	url = https://github.com/BrunoLevy/geogram
[submodule "src/vendor/simdjson"]
	path = src/vendor/simdjson
	url = https://github.com/simdjson/simdjson
[submodule "src/vendor/src/vendor/glm"]
	path = src/vendor/src/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "src/vendor/imguizmo"]
	path = src/vendor/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "src/vendor/assimp"]
	path = src/vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "src/vendor/entt"]
	path = src/vendor/entt
	url = https://github.com/skypjack/entt.git
